<p>message:<%= @message %></p>
<p>sessionId:<%= @sessionId %></p>

<p>totalWordCount:<%= @wtotalWordCountord %></p>
<p>correctWordCount:<%= @correctWordCount %></p>
<p>totalWrongGuessCount:<%= @totalWrongGuessCount %></p>
<p>score:<%= @score %></p>
<p>date:<%= @date %></p>
